*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
/*macrostruttura*/
#body-background{
    background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}
#main-app{
    width: 1150px;
    margin: 0 auto;
    height: 700px;
    margin-top: 20px;
    display: flex;
}
/*creo due colonne*/
#left-main-app{
    height: 100%;
    width: 40%;
}
#right-main-app{
    height: 100%;
    width: 60%;
    position: relative;
}
/*parti fisse di entrambe le colonne*/
#top-left, #top-right{
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#button-right{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(235, 235, 235);
}
/*top-left & top-right*/
#top-left-left, #top-right-lef{
    align-self: flex-start;
    display: flex;
}
#top-left-right, #top-right-right{
    align-self: flex-end;  
}
/*struttura centrale colonna sinistra*/
#main-left{
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px)
}
#main-1-left{
    width: 100%;
    height: 80px;
    background-color:rgb(0, 179, 255);
    position: relative;
    
}
#main-2-left{
    width: 100%;
    height: 40px;
    background-color: #ffff;
}
#main-3-left{
    width: 100%;
    height: calc(100% - 120px);
    background-color: rgb(255, 255, 255);
    position: relative;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}
/*main-left 2*/
.button-input{
    height: 90%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #ffff;
   
}
.button-left{
    width: 70px; 
    height: 30px;
    display: flex;
}
.input-left{
    width: 90%;
    height: 30px;
    display: flex;
}
.center-icl{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}
button{
    width: 100%;
    background-color: #ffff; 
}
/*contenuto main-3-left /LISTA CONT*/
.avatar-2{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: white;
    margin-left: 5px;
}
.nome-accesso-2{
    position: absolute;
    top: 200%;
    transform: translateY(-50%); 
    left: 60px;
}
.relativ{
    position: relative;
    display: inline;
}
.ora{
    position: absolute;
    top: 100%;
    right: -420px;
}
/*colonna destra */
/*main_right*/
#main-right{
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
    background-size: cover;
}
/* contenuto main-right /CHAT/*/
.chat {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}
  
.messaggio {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
  
.inviato {
    align-self: flex-end;
    background-color: #DCF8C6;
}
  
.ricevuto {
    align-self: flex-start;
    background-color: #E5E5EA;
}
/*buttom-right*/
#content-button-right{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
#bottom_input{
    width: 80%;
    height: 45px;
    display: flex;
}
.icone-button{
    margin: 0 auto;
}
/* altro*/
input{
    width: 100%;
}

.width100{
    width: 100%;
    border-radius: 30px;
}
.nome, .nome-accesso{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    left: 60px;
}
.icone{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    right: 20px;
}
/*font*/
.font-nome::first-letter{
    color: black;
    font-size: 18px;
    text-transform: uppercase;
}
.font-accesso::first-letter{
    color: black;
    font-size: 12px;
    text-transform: uppercase;
}
ul{
    list-style-type: none;
    white-space: nowrap;
    position: relative;
}
.fa-solid{
    padding: 5px;
}
.avatar{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    margin-left: 5px;
}

